.sec-body{
  background-image: url(./assets/img/classworkwall.png);
  background-image: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 100px;
}
.custom-img{
  border: 4px solid #ec5711 !important;
  border-width: thick;
}
.text-font{
  font-size: 60px;
}
.line{
  line-height: 2.0 !important;
}
.fs-7{
  font-size: 1.7rem !important;
}
.custom-btn-1{
  border: 2px solid #ec5711 !important;
  background-color: #ffffff !important;
}
.custom-btn-1:hover{
  background-color: #ec5711 !important;
  color: white !important;
}
.w-30{
  width: 30% !important;
}
.custom-btn-2{
  background-color: #ec5711 !important;
  color: white !important;
}
.custom-btn-2:hover{
  border: 2px solid #ec5711 !important;
  background-color: #ffffff !important;
  color: black !important;
}
.freepik{
  text-decoration: none;
  border-bottom: 1px solid #ec5711;
  cursor: pointer;
  color: #212529;
}
.freepik:hover{
  color: #ec5711;
  border-bottom: 1px solid black;
}
.sec-footer{
  background-color: #333333;
  padding-top: 40px;
  padding-bottom: 40px;
}
.custom-link{
  color: #98b2ca;
}
.custom-link:hover{
  color: #818181;
  text-decoration: none;
}